.App {
  text-align: center;
  background-color: aquamarine;
  height: 100vh;
  font-family:'Courier New', Courier, monospace
}
Button{
  background-color:hotpink;
  border: solid rgb(4, 159, 255);
  border-radius: 20px;
  margin-left: 10px;
  margin-bottom:0px;
  height: 100px;
  color:aliceblue;
  width: 200px;
  font-size: 24px;

}
h4{
  padding-top: 25vh;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 108px;

  
}
